/Lines/[Ll]ibrary/
/Lines/[Tt]emp/
/Lines/[Oo]bj/
/Lines/[Bb]uild/
/Lines/[Ll]ogs/
/Lines/[Uu]ser[Ss]ettings/
/Lines/[Mm]emoryCaptures/
/Lines/[Rr]ecordings/

/Lines/[Aa]ssets/Plugins/Editor/JetBrains*
/Lines/[Aa]ssets/[Ss]treamingAssets/aa.meta
/Lines/[Aa]ssets/[Ss]treamingAssets/aa/*

/Lines/.vs/
/Lines/.gradle/
/Lines/ExportedObj/
/Lines/*.csproj
/Lines/*.sln
/Lines/*.user
/Lines/*.pidb
/Lines/*.pdb
/Lines/*.mdb

/Lines/*.apk
/Lines/*.aab
/Lines/*.unitypackage
